In [1]:
import pandas as pd
import re
from matplotlib import pyplot as plt
% matplotlib inline

In [3]:
df = pd.read_excel('rank.xlsx')
df.head()

                                          university
0                     　　#1 Stanford University 斯坦福大学
1  　　#2 University of California— Berkeley 加州大学伯克利分校
2  　　#2 University of California— Los Angeles 加州大...
3                       　　#4 Harvard University 哈佛大学
4   　　#4 University of Michigan— Ann Arbor 密歇根大学-安娜堡

In [73]:
t = df.university[1].strip()
m = re.match('#\d+\s([\w\s]+).*\s([\w\s]*)\s*[\u4e00-\u9fa5]*', t)
m.group(2)

u''

In [46]:
t

u'#2 University of California\u2014 Berkeley \u52a0\u5dde\u5927\u5b66\u4f2f\u514b\u5229\u5206\u6821'

In [38]:
t = df.university[0].strip()
m = re.match('#\d+\s([\w\s]*)\s*—\s*(\w*).*', t)
if m.group(2):
    print m.group(1) + ', ' + m.group(2)
else:
    print m.group(1)

AttributeError: 'NoneType' object has no attribute 'group'

In [31]:
def getname(t):
    m = re.match('#\d+\s([\w\s]*)\s*—\s*(\w*).*',t.strip())
    if m.group(2):
        univ = m.group(1) + ', ' + m.group(2)
    else:
        univ = m.group(1)
    print univ
    return univ

In [32]:
ndf = df.university.apply(getname)

AttributeError: 'NoneType' object has no attribute 'group'